---
- hosts: masters, workers 
  become: true
  become_user: root
  become_method: su
  connection: ssh
  tasks:
    - name: k8s> Uninstall Cluster via kubeadm reset  
      command: kubeadm reset --cert-dir /etc/kubernetes/pki --cleanup-tmp-dir --force
    
    - name : k8s> Uninstall Flannel CNI leftovers
      shell: |
             rm -rf /var/lib/cni/
             rm -rf /run/flannel
             rm -rf /etc/cni/net.d/
             ip link delete flannel.1
             ip link delete cni0




