---
- hosts: masters, workers 
  become: true
  become_user: root
  become_method: su
  connection: ssh
  tasks:
    - name: k8s> Uninstall Cluster via kubeadm reset  
      command: kubeadm reset --cert-dir string /etc/kubernetes/pki --cleanup-tmp-dir --force

    - name: k8s> Uninstall Flannel CNI
      when: inventory_hostname in groups['masters']    
      command: kubectl delete -f https://github.com/flannel-io/flannel/releases/latest/download/kube-flannel.yml
    
    - name : k8s> Cleanup Flannel Dirs
      shell: |
             rm -rf /var/lib/cni/
             rm -rf /run/flannel
             rm -rf /etc/cni/net.d/

    - name : k8s> Delete Flannel Interfaces
      shell: |
             ip link delete flannel.1
             ip link delete cni0


