apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
nodeRegistration:
  criSocket: "unix:///var/run/containerd/containerd.sock"  # CRI set to containerd
localAPIEndpoint:
  advertiseAddress: "{{ ansible_host }}"  # Host IP for the Kubernetes API // ansible_host == challenger-master
  bindPort: 6443 # Default Bind Port // firewall exceptions made in "stage-k8s"

---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
networking:
  podSubnet: "10.244.0.0/16"  # Pod CIDR for Flannel
  serviceSubnet: "10.96.0.0/12" # Default Service Subnet
kubernetesVersion: "v1.35.0" # Version is also declared in 'stage-k8s' k8s repo task
controlPlaneEndpoint: "{{ ansible_host }}:6443"  # Control plane endpoint